VITE_CAD_API_URL=http://localhost:8787
NODE_ENV=development
CAD_API_PORT=8787
APP_PUBLIC_URL=http://localhost:8787
APP_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:8787
CAD_STORAGE_ROOT=.tmp/cad-runtime
CAD_DATABASE_PATH=.tmp/cad-runtime/database/profigym.sqlite
CAD_PROCESSING_MODE=inline
CAD_WORKER_REQUIRED=false
CAD_WORKER_CONCURRENCY=1
CAD_QUEUE_POLL_INTERVAL_MS=500
CAD_JOB_TIMEOUT_MS=300000
CAD_IMPORT_TIMEOUT_MS=120000
CAD_CONTACT_TIMEOUT_MS=120000
CAD_FEATURE_TIMEOUT_MS=120000
CAD_VIEWER_TIMEOUT_MS=90000
CAD_REPORT_TIMEOUT_MS=30000
CAD_JOB_HEARTBEAT_INTERVAL_MS=5000
CAD_JOB_STALE_AFTER_MS=30000
CAD_JOB_MAX_ATTEMPTS=2
CAD_MAX_UPLOAD_BYTES=52428800
CAD_MAX_JSON_BODY_BYTES=262144
CAD_MAX_PREVIEW_BYTES=2097152
CAD_VIEWER_MAX_TRIANGLES=750000
CAD_SOURCE_RETENTION_DAYS=30
CAD_MESH_RETENTION_DAYS=90
CAD_PREVIEW_RETENTION_DAYS=30
CAD_REPORT_RETENTION_DAYS=30
CAD_FAILED_JOB_RETENTION_DAYS=14
CAD_TEMP_FILE_MAX_AGE_MINUTES=60
CAD_CLEANUP_INTERVAL_MINUTES=60
CAD_ANTIVIRUS_ENABLED=false
CAD_ANTIVIRUS_HOST=localhost
CAD_ANTIVIRUS_PORT=3310
CAD_ANTIVIRUS_TIMEOUT_MS=10000
CAD_ANTIVIRUS_FAIL_MODE=open
LOG_LEVEL=info
LOG_FORMAT=pretty
LOG_REDACT_FIELDS=authorization,cookie,token,password,secret,stack
CAD_CONTACT_DISTANCE_TOLERANCE_MM=0.05
CAD_CONTACT_ANGLE_TOLERANCE_DEG=1
CAD_CONTACT_AREA_TOLERANCE_MM2=0.01
CAD_CONTACT_REVIEW_THRESHOLD=0.9
CAD_FEATURE_AUTO_EXCLUDE_ENABLED=true
CAD_HOLE_MIN_DIAMETER_MM=0.5
CAD_HOLE_MAX_DIAMETER_MM=1000
CAD_HOLE_MIN_DEPTH_MM=0.5
CAD_HOLE_MAX_DEPTH_MM=1000
CAD_HOLE_EXCLUDE_THROUGH=true
CAD_HOLE_EXCLUDE_BLIND=true
CAD_HOLE_EXCLUDE_BOTTOM_FACE=false
CAD_COUNTERSINK_EXCLUDE=true
CAD_COUNTERBORE_EXCLUDE=true
CAD_CLOSED_CAVITY_EXCLUDE=true
CAD_OPEN_CAVITY_REVIEW_REQUIRED=true
CAD_FEATURE_CONFIDENCE_THRESHOLD=0.9
CAD_FEATURE_AREA_TOLERANCE_MM2=0.01
CAD_FEATURE_AXIS_TOLERANCE_MM=0.05
CAD_FEATURE_ANGLE_TOLERANCE_DEG=1
CAD_VIEWER_LINEAR_DEFLECTION_MM=0.15
CAD_VIEWER_ANGULAR_DEFLECTION_DEG=20
CAD_SOURCE_FILE_RETENTION_ENABLED=true
CAD_REPORT_PREVIEW_MAX_WIDTH=4096
CAD_REPORT_PREVIEW_MAX_HEIGHT=4096
CAD_TEST_PROCESSING_DELAY_MS=0
CAD_TEST_TIMEOUT_FIXTURE=timeout_fixture.step
SOAK_DURATION_MS=300000
BENCHMARK_ITERATIONS=5
